<div class="container">
    <div class="wrapHomeTop clearfix">
        <div class="wrapPhotoArea">
            <h2>飲食店ランキング</h2>
            <div class="openPhoto">
                
            </div>
            <div class="photoRanking">
                <div class="rank" id="rank1">1</div>
                <div class="rank" id="rank2">2</div>
                <div class="rank" id="rank3">3</div>
                <div class="rank" id="rank4">1</div>
                <div class="rank" id="rank5">2</div>
                <div class="rank" id="rank6">3</div>
                <div class="rank" id="rank7">1</div>
                <div class="rank" id="rank8">2</div>
                <div class="rank" id="rank9">3</div>
                <div class="rank" id="rank10">3</div>
            </div>
            
            <div class="selectablePhotoCategories">
                <div class="selectableRank" id="age_shops">
                    アゲランク
                    <% @age_shops.each do |s| %>
                        <div hidden><%= s.name %></div>
                    <% end %>
                </div>
                <div class="selectableRank" id="age_shops">
                    行きたいお店
                    <% @want_shops.each do |s| %>
                        <div hidden><%= s.name %></div>
                    <% end %>
                </div>
                <!--<div class="populalityRank">人気急上昇</div>-->
                <!--<div class="menRank">男子に人気</div>-->
                <!--<div class="womenRank">女子に人気</div>-->
            </div>
        </div>
        <div class="wrapAreaMap">
            <h2>エリアから探す</h2>
            <div>
                <%= image_tag 'areamap_df.png', :id => 'topAreaMap', :usemap => '#topAreaMap', :class => 'text-center' %>
                <map name="topAreaMap" id="topAreaMapTag">
                    <area shape="poly" coords="44,130,133,130,116,235,126,235,121,272,21,272" href="areas/1" alt=<%= image_path("areamap_tsurumai_ov.png") %>>
                    <area shape="poly" coords="214,120,311,120,301,190,266,190,261,215,201,215" href="areas/2" alt=<%= image_path("areamap_fukiage_ov.png") %>>
                    <area shape="poly" coords="246,225,286,225,276,290,236,290" href="areas/3" alt=<%= image_path("areamap_gokiso_ov.png") %>>
                    <area shape="poly" coords="130,225,225,225,115,310,210,310" href="areas/4" alt=<%= image_path("areamap_arahata_ov.png") %>>
					<area shape="poly" coords="81,10,291,10,276,85,211,85,208,110,66,110" href="areas/5" alt=<%= image_path("areamap_chikusa_ov.png") %>>
				</map>
			</div>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="categoriesLink">
            <h2><span class="findHead">カテゴリーから探す</span></h2>
            <ul class="list-inline">
                <% @categories.each do |cat| %>
                    <li><%= link_to cat.name, category_path(cat) %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>