<div class="container">
    <div class="row">
            <div class="wrapPhotoArea col-sm-8">
                <div class="openPhoto">
                    
                </div>
                <div class="photoRanking">
                    <div class="firstPhoto">1</div>
                    <div class="firstPhoto">2</div>
                    <div class="firstPhoto">3</div>
                </div>
                
                <div class="selectablePhotoCategories">
                    <div class="ageRank">
                        アゲランク
                        <% @age_shops.each do |shop| %>
                            <h2><%= shop.name %></h2>
                        <% end %>
                    </div>
                    <div class="populalityRank">人気急上昇</div>
                    <div class="menRank">男子に人気</div>
                    <div class="womenRank">女子に人気</div>
                </div>
            </div>
            <div class="wrapAreaMap col-sm-4">
                <h2>エリアから探す</h2>
                <%= image_tag 'areamap_df.png', :id => 'topAreaMap', :usemap => '#topAreaMap', :class => 'text-center' %>
                <map name="topAreaMap" id="topAreaMapTag">
                    <area shape="poly" coords="35,130,122,130,105,235,115,235,110,272,10,272" href="areas/2" alt=<%= image_path("areamap_tsurumai_ov.png") %>>
                    <area shape="poly" coords="205,120,300,120,290,190,255,190,250,215,190,215" href="areas/3" alt=<%= image_path("areamap_fukiage_ov.png") %>>
                    <area shape="poly" coords="235,225,275,225,265,290,225,290" href="areas/4" alt=<%= image_path("areamap_gokiso_ov.png") %>>
                    <!--<area shape="poly" coords="130,225,225,225,115,310,210,310" href="areas/5" alt=<%= image_path("areamap_arahata_ov.png") %>>-->
					<area shape="poly" coords="70,10,280,10,265,85,200,85,197,110,55,110" href="areas/5" alt=<%= image_path("areamap_chikusa_ov.png") %>>
				</map>
            </div>
    </div>
    
    <div class="row">
        <div class="categoriesLinks col-sm-6">
            <h2>カテゴリーから探す</h2>
            <ul class="list-inline">
                <% @categories.each do |cat| %>
                    <li><%= link_to cat.name, category_path(cat) %></li>
                <% end %>
            </ul>
        </div>
        <div class="areaLinks col-sm-6">
            <h2>エリアから探す</h2>
            <ul>
                <% @areas.each do |area| %>
                    <li><%= link_to area.name, area_path(area) %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>