<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="mapForm"></div>
  <style>#mapForm{height:400px; width: 600px;}</style>

  <div class="field">
    <%= f.label :name, class: 'kome' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.hidden_field :latitude, id: "latForm" %>
  </div>
  <div class="field">
    <%= f.hidden_field :longitude, id: "lngForm" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
