<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <div class="wrapShopPicture">
        
      </div>
    </div>
    <div class="col-sm-4">
      <div class="shopInfo">
        <div class="panel panel-default">
          <div class="panel-heading">
            <%= @shop.name %>
            <%= render 'action', shop: @shop %>
          </div>
          <div class="panel-heading">
            カテゴリー：
            <ul class="list-inline">
              <li>
                <% if @shop.shop_categories.any? %>
                  <h2>Categories</h2>
                  <ul>
                  <% @shop.categories.each do |category| %>
                    <li><%= category.name %></li>
                  <% end %>
                  </ul>
                <% end %>
              </li>
            </ul>
          </div>
          <div class="panel-heading">
            住所：　<%= @shop.address %>
          </div>
          <div class="panel-body">
            <div id="shopMap"></div>
            <%= render 'shared/yahoo_credit' %>
            <div id="wrapLatlngInfo" hidden>
            <div class="latlngInfo">
                <div class="latInfo" hidden><%= @shop.latitude.to_s %></div>
                <div class="lngInfo" hidden><%= @shop.longitude.to_s %></div>
            </div>
          </div>
          </div>
          
          
        </div>
      </div>
    </div>
  </div>
</div>




<% if user_signed_in? %>
  <%= render 'shared/micropost_form' %>
<% end %>




<% @microposts.each do |micropost| %>
  <div class="microposts">
    <div class="micropost">
      <h2><%= link_to micropost.user.mypage.name, mypage_path(micropost.user.mypage) %></h2>
      <p><%= micropost.content %></p>
      <%= render 'shared/microstar_action', { micropost: micropost } %>
    </div>
  </div>
<% end %>

<div class="users">
  <h2>All Users</h2>
  <ul>
    <% @users.each do |u| %>
      <li><%= link_to u.mypage.name, mypage_path(u.mypage) %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_shop_path(@shop) %>