<div class="container">
  <div class="row">
    <div class="col-sm-6">
      
    </div>
  </div>
</div>

<div id="shopMap"></div>
<%= render 'shared/yahoo_credit' %>
<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<div id="wrapLatlngInfo" hidden>
  <div class="latlngInfo">
      <div class="latInfo" hidden><%= @shop.latitude.to_s %></div>
      <div class="lngInfo" hidden><%= @shop.longitude.to_s %></div>
  </div>
</div>

<% if @shop.shop_categories.any? %>
  <h2>Categories</h2>
  <ul>
  <% @shop.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
  </ul>
<% end %>
<% if user_signed_in? %>
  <%= render 'shared/micropost_form' %>
  <%= render 'action', shop: @shop %>
<% end %>

<% @microposts.each do |m| %>
  <div class="microposts">
      <div class="micropost">
        <h2><%= link_to m.user.mypage.name, mypage_path(m.user.mypage) %></h2>
        <p><%= m.content %></p>
      </div>
  </div>
<% end %>
<div class="users">
  <h2>All Users</h2>
  <ul>
    <% @users.each do |u| %>
      <li><%= link_to u.mypage.name, mypage_path(u.mypage) %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Edit', edit_shop_path(@shop) %>