<div class="wrapFollow">
    <% if @user.follower_users.any? %>
        <% @user.follower_users.each do |follower| %>
            <%= follower.name %>
            <%= follower.id %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="icon">
                        <%= gravatar_for(follower, 50) %>
                    </div>
                    <div class="followBtn">
                        <h2><%= follower.mypage.title %></h2>
                        <%= render 'mypages/follow_form' %>
                    </div>
                </div>
                <div class="panel-body">
                    <h3><%= follower.mypage.title %></h3>
                    <p><%= follower.mypage.description %></p>
                </div>
            </div>
        <% end %>
    <% else %>
        <p>まだ誰にもフォローされていません。</p>
    <% end %>
</div>
<%= render 'shared/listlink' %>