<p id="notice"><%= notice %></p>
<div class='breadcrumbs'>後でgem追加</div>
<div class="profileContainer">
<div class="profileCover"></div>
<div class="profileHeader">
    <p>
    <%= gravatar_for(@user) %>
    <%= @user.name %>
    </p>
</div>
<div class="profile-navbar"></div>
</div>



<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>