<p id="notice"><%= notice %></p>
<% breadcrumb :show_user, @user %>
<div class="profileContainer">
<%= render 'shared/user_info' %>
<div id="userMap"></div>
<style>#userMap{height:500px;width:600px;}</style>
<div class="profile-navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><%= link_to "ホーム", root_path %></li>
                <li><%= link_to "フォロー", followings_user_path %></li>
                <li><%= link_to "フォロワー", followers_user_path %></li>
                <li><%= link_to "行きたい店リスト", '#' %></li>
            </ul>
        </div>
    </nav>
</div>
</div><!--profileContainer-->
<div class="wrapMicroposts">
    <% if logged_in? %>
        <div id="followCondition">
            <%= render 'follow_form' %>
        </div>
    <% end %>
    <% if @shops.any? %>
        <div id="wrapLatlngInfo" hidden>
            <% @shops.each do |s| %>
                <div class="latlngInfo">
                    <div class="latInfo" hidden><%= s.latitude.to_s %></div>
                    <div class="lngInfo" hidden><%= s.longitude.to_s %></div>
                </div>
            <% end %>
        </div>
    <% end %>
    <% if @microposts.any? %>
      <div class="microposts">
        <% @microposts.each do |m| %>
          <div class="micropost">
            <!-- editing -->
          </div>
        <% end %>
      </div>
    <% end %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>

