<p id="notice"><%= notice %></p>
<% breadcrumb :show_user, @user %>
<div class="profileContainer">
<div class="profileCover"><%= image_tag @user.coverimage_url(:thumb) %></div>
<div class="profileHeader">
    <p><%= gravatar_for(@user) %></p>
    <p><%= @user.name %></p>
    <p><%= @user.title %></p>
    <p><%= @user.description %></p>
</div>
<div class="plot">ここにプロット地図</div>
<div class="profile-navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><%= link_to "ホーム", root_path %></li>
                <li><%= link_to "フォロー", '#' %></li>
                <li><%= link_to "フォロワー", '#' %></li>
                <li><%= link_to "行きたい店リスト", '#' %></li>
            </ul>
        </div>
    </nav>
</div>
</div><!--profileContainer-->
<div class="wrapContents">
    <div>投稿</div>
</div>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>