<p id="notice"><%= notice %></p>
<% breadcrumb :show_user, @user %>
<div class="profileContainer">
<%= render 'shared/user_info' %>
<div id="map"></div>
<style>#map{height:500px;width:600px;}</style>
<div class="profile-navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><%= link_to "ホーム", root_path %></li>
                <li><%= link_to "フォロー", followings_user_path %></li>
                <li><%= link_to "フォロワー", followers_user_path %></li>
                <li><%= link_to "行きたい店リスト", '#' %></li>
            </ul>
        </div>
    </nav>
</div>
</div><!--profileContainer-->
<div class="wrapMicroposts">
    <% if logged_in? %>
        <div id="followCondition">
            <%= render 'follow_form' %>
        </div>
        <div class="up">
            <section class="micropost_form">
                <%= render 'shared/micropost_form' %>
            </section>
        </div>
    <% end %>
    <% if @user.microposts.any? %>
        <h3>レビューたち</h3>
        <ul class="microposts">
            <li><%= render @microposts %></li>
        </ul>
    <% end %>
</div>

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>

<script>
(window.onload = function() {
    lat = 35.1565645;
    lon = 136.9247428;
    L.Icon.Default.imagePath	=	"/assets";
    var	map	= L.map('map').setView([lat, lon],	15);
    var	osmUrl	= "http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png";
    var	osmAttrib	=	"Map	data	©	OpenStreetMap contributors";
    L.tileLayer(osmUrl,	{ attribution:	osmAttrib, maxZoom:	20, }).addTo(map);
    
    var	marker	= L.marker([lat, lon]).addTo(map);
    //map.on("click",	function(e)	{ marker.setLatLng(e.latlng); $("#map_latitude").val(e.latlng.lat); 
})();
</script>