<div class="profile-navbar">
    <div class="container">
        <nav>
            <ul id="mypageLists" class="nav nav-tabs">
                <li class="mypageList"><%= link_to "フォロー", followings_user_path(@user) %></li>
                <li class="mypageList"><%= link_to "フォロワー", followers_user_path(@user) %></li>
                <li class="mypageList"><%= link_to "Ageた店リスト", aged_shops_user_path(@user) %></li>
                <li class="mypageList"><%= link_to "行きたい店リスト", wanted_shops_user_path(@user) %></li>
                <% if signed_in? && request.url.include?('mypages') %>
                    <% if @mypage != current_user.mypage %>
                        <li id="followCondition" class="followEditBtn">
                            <%= render 'mypages/follow_form' %>
                        </li>
                    <% else %>
                        <li class="followEditBtn">
                            <%= button_tag :type => "button", :class =>"btn btn-default btn-s-md" do %>
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  <%= link_to 'Edit mypage', edit_mypage_path(current_user.id), :class => "editBtn" %>
                            <% end %>
                        </li>
                    <% end %>
                <% end %>
            </ul>
        </nav>
    </div>
</div>