<%= form_for(@micropost, url: microposts_path) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost..." %>
  </div>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.hidden_field :shop_id, value: @shop.id %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>