<div class="wrapProfile">
    <div class="profileCover"><%= image_tag @mypage.coverimage_url(:background) %></div>
    <div class="profileHeader">
        <div class="iconImage"><%= image_tag @mypage.icon_url(:thumb) %></div>
        <h2><%= @mypage.name %></h2>
        <div class="infoArea">
            <h3><%= @mypage.title %></h3>
            <p><%= @mypage.description %></p>
        </div>
    </div>    
</div>
