<div class="profileCover"><%= image_tag @user.coverimage_url(:thumb) %></div>
<div class="profileHeader">
    <%= link_to gravatar_for(@user, size: 50), user_path(@user) %>
    <h2><%= link_to @user.name, user_path(@user) %></h2>
    <p><%= @user.title %></p>
    <p><%= @user.description %></p>
</div>