<div class="profileCover"><%= image_tag @mypage.coverimage_url(:thumb) %></div>
<div class="profileHeader">
    <%= link_to gravatar_for(@user, size: 50), mypage_path(@mypage) %>
    <h2><%= link_to @mypage.name, mypage_path(@mypage) %></h2>
    <p><%= @mypage.title %></p>
    <p><%= @mypage.description %></p>
    <%= render 'follow_form' %>
</div>