<div class="container">
    <% breadcrumb :show_mypage, @mypage %>
    <div class="row">
        <div class="col-sm-5">
            <%= render 'shared/user_info' %>
        </div>
        <div class="col-sm-7">
            <div id="userMap"></div>
            <%= render 'shared/yahoo_credit' %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <% if !@microposts.empty? %>
      <div class="microposts">
        <% @microposts.each do |m| %>
              <div class="micropost">
                <%= link_to m.shop.name, shop_path(m.shop.id) %>
                <%= m.content %>
              </div>
            <% end %>
          </div>
        <% end %>
        </div>
    </div>
</div><!--container-->
<div class="container-fluid">
    <%= render 'shared/listlink' %>
</div>