<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Agelog", root_path, class: 'logo' %>
      </div>
      <dl>
        <%= search_form_for @search, url: shops_path do |f| %>
          <dt><%= f.select :areas_id_eq, options_from_collection_for_select(Area.all, :id, :name, @search.areas_id_eq) %></dt>
          <dt><%= f.select :categories_id_eq, options_from_collection_for_select(Category.all, :id, :name, @search.categories_id_eq) %></dt>
          <dt><%= f.text_field :name_cont ,placeholder: '検索するテキストを入力...' %></dt>
          <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
          
        <% end %>
      </dl>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "新規会員登録", signup_path %>
        <% if logged_in? %>
          <li><%= link_to "マイページ", user_path(id: current_user.id) %></li>
          <li><%= link_to "ログアウト", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>