<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <h1 class="logo"><%= link_to "Agelog", root_path, class: 'logo' %></h1>
        </div>
        <div class="headerForm col-sm-5">
        <%= search_form_for @search, url: shops_path, :class => 'form-inline' do |f| %>
          <div class="form-group"><%= f.select :areas_id_eq, options_from_collection_for_select(Area.all, :id, :name, @search.areas_id_eq), :class => 'form-control' %></div>
          <div class="form-group"><%= f.select :categories_id_eq, options_from_collection_for_select(Category.all, :id, :name, @search.categories_id_eq), :class => 'form-control' %></div>
          <div class="form-group"><%= f.text_field :name_cont ,placeholder: '検索テキストを入力...', :class => 'form-control textField' %></div>
          <%= f.submit ("検索") , class: 'btn btn-default'%>
          
        <% end %>
        </div>
        <nav class="col-sm-4">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "What is AGELOG?", introduce_path %></li>
            <% if user_signed_in? %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= gravatar_for(current_user, size: 24) %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to 'Mypage', mypage_path(current_user.id) %></li>
                  <li><%= link_to 'Edit mypage', edit_mypage_path(current_user.id) %></li>
                  <li><%= link_to 'Edit Email&Password', edit_user_registration_path %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link bg-info'  %></li>
              <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </nav>
</header>