<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Agelog", root_path, class: 'logo' %>
      </div>
      <dl>
        <%= search_form_for @search, url: shops_path do |f| %>
          <dt><%= f.select :areas_id_eq, options_from_collection_for_select(Area.all, :id, :name, @search.areas_id_eq) %></dt>
          <dt><%= f.select :categories_id_eq, options_from_collection_for_select(Category.all, :id, :name, @search.categories_id_eq) %></dt>
          <dt><%= f.text_field :name_cont ,placeholder: '検索するテキストを入力...' %></dt>
          <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
          
        <% end %>
      </dl>
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
      </ul>
    </div>
  </nav>
</header>