  <div class="field">
    <%= f.label :coverimage %>
    <%= f.file_field :coverimage %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sex_1, '男' %>
    <%= f.radio_button :sex, '男' %><br />
    <%= f.label :sex_2, '女' %>
    <%= f.radio_button :sex, '女' %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>